<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form (ngSubmit)="onSubmit(memberForm)" [formGroup]="memberForm">
    <div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            placeholder="First Name"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            id="lastName"
            placeholder="Last Name"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            formControlName="jobTitle"
            placeholder="Job Title"
          />
        </div>
        <!--We may have to make a service call to get this list-->
        <select id="team" class="col-md-6 custom-select" formControlName="team">
          <option *ngFor="let team of teams" [ngValue]="team.teamName">{{ team.teamName }}</option>
        </select>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" name="status" formControlName="status" value="Active" /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" name="status" formControlName="status" value="Inactive" /> Inactive
          </label>
        </div>
      </div>
    </div>
    <!--Disable if form is invalid-->
    <button type="submit" class="btn btn-primary pull-right">
      Save Member
    </button>
    <a routerLink="/members" class="btn btn-success pull-left">
      &lt;=
    </a>
  </form>
  <!-- <div class="card">
    {{memberForm.value | json}}
  </div> -->
</div>
